@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    820 North Washington Ave<br />
    Madison, SD 57042<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fischer.nordin@gmail.com">fischer.nordin@gmail.com</a>
</address>