@{
    ViewBag.Title = "Home Page";
}

<h1>DSU HvZ</h1>
<p>This application was created to provide a basic framework for the running of Humans vs Zombies games at the DSU Campus.
     It is probably buggy in it's current state, though is currently functional in all essential areas.</p>