@model DSUHvZ.Models.UserInGame
@{
    ViewBag.Title = "Join";
}

<h2>Join Game</h2>

@using (Html.BeginForm("JoinAction", "Game"))
{
    <div class="hidden">
        @Html.TextBoxFor(m => m.UserID);
    </div>
    <div class="hidden">
        @Html.TextBoxFor(m => m.GameID);
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.SecretZombiePref) Check to allow yourself to be selected as an OZ
        </label>
    </div>
    <h5>NOTE: Joining this game will leave any other game you may be in.</h5>
    <button type="submit" class="btn btn-primary">Join Game</button>

}